.checkin_available{
    color: green;
    cursor: pointer;
}

.checkin_not-available{
    color: red;
    cursor: pointer;
}

.checkin_site-page-header{
    background: white !important;
}

.checkin_search{
    color: @primary-color;
    cursor: pointer;
}

.checkin_errors{
    color: red;
}

.checkin_pinter{
    cursor: pointer;
}