.accomodationsDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.accomodationsH1{
    margin-right: auto;
    margin-left: auto;
}

.accomodationsP{
    margin-right: 100px;
    margin-left: 100px;
}

.accomodationsFilterButton{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 30px;
    margin-bottom: -50px;
    margin-right: 1500px;
}

.accomodationReserveButton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 30px;

}