.accomodationsDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 150px;
}

.accomodationsH1{
    margin-right: auto;
    margin-left: auto;
}

.accomodationsP{
    margin-right: 100px;
    margin-left: 100px;
}

.accomodationsFilterButton{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 30px;
    margin-bottom: -50px;
    margin-right: 1500px;
    margin-left: 200px;
}

.accomodationsFilterButton2{
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: -50px;
}

.accomodationReserveButtonSpan{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    margin-right: 200px;
}
.accomodationReserveButton{
    background-color: #5296A5 !important;
    border-color: #5296A5 !important;
}
