* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.ok {
  text-align: left;
  color: black !important;
}
.okkk2 {
  color: black !important;
}
.panel {
  color: black !important;
}
.ok2 {
  text-align: left;
  padding-bottom: 30px;
}
.section {
  min-height: 80vh;
  margin: auto;
  margin-top: 100px;
  width: 80%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.coll {
  padding-bottom: 30px;
  padding-top: 10px;
}

.title {
  font-size: 25px;
  background-color: #5296a4;
  color: rgb(0, 0, 0);
}

.ant-collapse-header {
  color: rgb(0, 0, 0) !important;
  height: 40px !important;
}
