.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.inputs{
    display: flex;
    flex-direction: row;
}

.input{
    display: flex;
    flex-direction: row;
}

