.categoriesContainer {
    margin-bottom: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .categories_options {
  //  margin-left: 250px;
  //  margin-right: 100px;
    display: flex;
    justify-content: space-between;
  }
  .categoryContainer {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .categorySider {
    display: flex;
    margin-bottom: 6px;
    background-color: #b88b61 !important;
    color: white;
    margin-left: 350px;
  }
  .categoryH3 {
   
    font-size: 20px;
    color: white;
  }
  .categoryH4 {
    margin-left: 4.8%;
    font-size: 14px;
    color: white;
  }
  
  .categoryButtons {
    display: flex;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
  }
  .categoryReserveButton {
    margin: auto;
  }
  .categoryMoreInfoButton {
    margin: auto;
  }

  .accomodationReserveButton{
    background-color: white !important;
  }
  