.categoriesContainer {
    margin-bottom: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .categories_options {
  //  margin-left: 250px;
  //  margin-right: 100px;
    display: flex;
    justify-content: space-between;
  }
  .categoryContainer {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .categorySider {
    display: flex;
    margin-bottom: 6px;
    background-color: #b88b61 !important;
    color: white;
    margin-left: 350px;
  }
  .categoryH3 {
   
    font-size: 20px;
    color: white;
  }
  .categoryH4 {
    margin-left: 4.8%;
    font-size: 14px;
    color: white;
  }
  
  .categoryButtons {
    display: flex;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
  }
  .categoryReserveButton {
    margin: auto;
  }
  .categoryMoreInfoButton {
    margin: auto;
  }

  .accomodationReserveButton{
    background-color: white !important;
  }
.categoryP{
  font-size: small !important;
  line-height: normal !important;
}

.price{
  font-size: small !important;
  line-height: normal !important;
}
  

//NEW CARDS 

.containerCategoryBookingSpecial{
  display: flex;
  flex-direction: column;
  margin-bottom: 300px !important;
  margin-left: 30px;
}

.categoryBookingPrice{
  font-size: 16px;
  color: white;
  background-color: none !important;
  margin-right: 50px;
}

.categoryBookingFee{
  font-size: 19px;
  color: white;
  background-color: none !important;
  text-align: center !important;
  width: 100%;
}

.containerCategoryBookingSpecial{
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1100px) {
  .containerCategoryBookingSpecial{
    margin-left: 25vw;
    margin-bottom: 10vh;
  }

  .containerCategoryBookingSpecial{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -90px;
    margin-left: 25vw;
  }
  
}
