.accomodationsSelect_container{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .accomodationsSelect_select{
// }

.accomodationsSelect_si{
    width: 200px;
}

.accomodationsSelect_cards{
    width: 600px;
}

.accomodationsSelect_btn{
    margin-top: 20px;
}
