.categoriesContainer {
    margin-bottom: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .categories_options {
    display: flex;
    justify-content: space-between;
  }
  .categoryContainer {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .categorySider {
    display: flex;
    margin-bottom: 6px;
    background-color: #b88b61 !important;
    color: white;
    margin-left: 350px;
  }
  .categoryH3 {
   
    font-size: 20px;
    color: white;
  }
  @keyframes promos {
    from {
      background-color: black;
      color:white;
    }
    to {
      background-color: white;
      color: black;
    }
  }
  .categoryH3-Promo {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: black;
    animation-name: promos;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .categoryH4 {
    margin-left: 4.8%;
    font-size: 14px;
    color: white;
  }
  
  .categoryButtons {
    display: flex;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
  }
  .categoryReserveButton {
    margin: auto;
  }
  .categoryMoreInfoButton {
    margin: auto;
  }

  .accomodationReserveButton{
    background-color: white !important;
  }
.categoryP{
  font-size: small !important;
  line-height: normal !important;
}

.price{
  font-size: small !important;
  line-height: normal !important;
}
  

//NEW CARDS 

.containerCategoryBookingSpecial{
  display: flex;
  flex-direction: column;
  margin-bottom: 300px !important;
  margin-left: 30px;
}

.categoryBookingPrice{
  font-size: 16px;
  color: white;
  background-color: none !important;
  margin-right: 50px;
}

.categoryBookingFee{
  font-size: 19px;
  color: white;
  background-color: none !important;
  text-align: center !important;
  width: 100%;
}

.containerCategoryBookingSpecial{
  display: flex;
  flex-direction: column;
}

.bookingCardDiscount{
  position: absolute;
  font-size: 23px;
  color: white;
  left: -140px;
  margin-top: 36px;
  transform: rotate(315deg);
  }

.triangleDiscount{
  position: absolute;
  width: 0; 
  height: 0; 
  border-left: 150px solid #f04e4e;
  border-top: 0px solid transparent;
  border-bottom:150px solid transparent;  
}


@media only screen and (max-width: 1100px) {

  .containerCategoryBookingSpecial{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -90px;
    margin-left: 25vw;
  }
  
}

@media only screen and (max-width: 500px) {
  .containerCategoryBookingSpecial{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: -75px;
    margin-left: 2vw;
  }

  .bookingCardDiscount{
    position: absolute;
    font-size: 17px;
    color: white;
    left: -100px;
    margin-top: 23px;
    transform: rotate(315deg);
    }
  
  .triangleDiscount{
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 100px solid #f04e4e;
    border-top: 0px solid transparent;
    border-bottom:100px solid transparent;  
  }
}