.accomodationsSelect_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100vw !important;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

}


.selectButtonBooking{
    display: flex;
    justify-content: center;
    max-width: 100vw;
}


.containerSelectLoading{
     width: 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.textLoadingBooking{
    margin-top: 60px;
    font-size: 30px;
    color: rgb(65, 65, 65);
}


//SELECT
.selectButtonBooking{
    margin-left: 33px !important;
    
}
//NEXT




.accommodationNoResults{
    margin-top: 60px;
    font-size: 20px;
    color: rgb(124, 124, 124);
    text-align: center;
}










@media only screen and (max-width: 500px) {
    .textLoadingBooking{
    font-size: 15px !important;
    }

    

    .accomodationsSelect_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 100vw !important;
        align-items: center;
    }
    
}

@media only screen and (max-width: 2500px) {
    .containerButtonsBooking{
        position: absolute;
        display: flex;
        margin-top: -100px;
        margin-left:800px;  
    }
    
    .booking_Buttons{
        margin-left: 23px !important;
    }
    
}

@media only screen and (max-width: 1110px) {
    .containerButtonsBooking{
        position: absolute;
        display: flex;
        margin-top: -100px;
        margin-left:579px; 
        
    }

    .booking_Buttons{
        margin-left: 5px !important;
    }
    
}

@media only screen and (max-width: 830px) {
    .containerButtonsBooking{
        position: absolute;
        display: flex;
        flex-direction: column;
        margin-top: -100px;
        margin-left:430px;
        padding:5px;
        
    }

    .booking_Buttons{
        
        margin-left: 65px !important;
    }

    
}

@media only screen and (max-width: 630px) {
    .containerButtonsBooking{
        position: absolute;
        display: flex;
        flex-direction:row;
        margin-top: -200px;
        margin-left:150px;
        padding:5px;
        
    }

    .booking_Buttons{
        
        margin-left: 10px !important;
    }

    
}

@media only screen and (max-width: 450px) {
    .containerButtonsBooking{
        position: absolute;
        display: flex;
        flex-direction:row;
        margin-top: -200px;
        margin-left:100px;
        padding:5px;
        
    }

    .booking_Buttons{
        
        margin-left: 10px !important;
    }

    
}
