.imgExperience{

    height: 550px;
    width: 50vw;
    object-fit: cover;
    filter: brightness(79%);
    transform: scaleX(-1);
  
}

.containerHomeExperiences{
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw !important;
    background-color: #ffffff;
    
}

.titleHomeExp{
    width: 48vw !important;
    display: flex !important;
   flex-direction: row;
    font-size: 50px;
    font-weight: 400 !important;
    border-bottom: 4px solid #000000;
}

.containerWordsExperiences{
    margin-top: 20px;
    width: 50vw !important;
    
}

.img-text-HomeExperiences{
    display: flex !important;
    flex-direction: row !important; 
    
}

.descriptionHomeExp{
    width: 48vw;
    margin-top: 50px;
    font-size: 22px;
    padding:40px;
    border-bottom: 4px solid #000000;
}

@media screen and (max-width:900px){
    .imgExperience{

         height: 550px;
        width: 50vw;
        object-fit: cover;
        margin-top: 250px;
        filter: brightness(79%);
        transform: scaleX(-1);
      
    }
    .descriptionHomeExp{
        width: 50vw;
        margin-top: 50px;
        font-size: 22px;
        padding:40px;
        border-bottom: 4px solid #000000;
    }
}


@media screen and (max-width:600px){
    .img-text-HomeExperiences{
        display: flex !important;
        flex-direction: column !important; 
        
    }
    .imgExperience{
       width: 100vw !important; 
       margin-top: 10px;  
   }
   .descriptionHomeExp{
    width: 100vw;
    margin-top: 20px;
    font-size: 18px;
    padding:40px;
    border-bottom: 4px solid #000000;
}
.titleHomeExp{
   font-size: 25px;
   font-weight: 400 !important;
}
}
