
.slidesImages{
    height: 70vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(75%);
    font-family: 'Montserrat', sans-serif;

}
.slidesText{
    display: flex;
    width: 65vw;
    align-content: center;
    justify-content: center;
    position: absolute;
    font-size: 4.5vw;
    color: white;
    bottom: 30vh;
    left: 18vw;

}
.slideContainer{
    position: relative;
    margin-top: 40px !important;

}
