
.slidesImages{
    height: 750px;
    width: 100vw;
    object-fit: cover;
    filter: brightness(79%);
    font-family: 'Montserrat', sans-serif;
    transform: scaleX(-1);
}

.sliceTitle{
  position: absolute;
  top: 380px; 
  left: 60px;
  z-index: 2;
  color: white;
  font-size: 60px;
  font-weight: 800;
  width: 700px;
  line-height: 65px;
  text-shadow: 2px 2px 30px black;
}

.sliceDescription{
  position: absolute;
  top: 520px; 
  left: 60px;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: 500;
  width: 800px;
  text-shadow: 10px 10px 20px black !important; 
}
.sliceButton{
  position: absolute;
  top: 580px; 
  left: 60px;
  z-index: 2;
}

.slidesText{
    display: flex;
    width: 65vw;
    align-content: center;
    justify-content: center;
    position: absolute;
    font-size: 5vw;
    color: white;
    bottom: 30vh;
    left: 18vw;
}
.slideContainer{
    position: relative;
  }
  
.containerSlide{
}

@media only screen and (max-width: 767px) {
    .slidesImages{
        height: 50vh;
        width: 100vw;
        object-fit: cover;
        filter: brightness(75%);
    }

    .slidesText{
      display: flex;
      align-content: center;
      justify-content: center;
      position: absolute;
      font-size: 40px;
      color: white;
      bottom: 200px;
      text-align: center;
    }

    .slideContainer{
      position: relative;
    }
}

@media only screen and (max-width: 500px) {
    .slidesImages{
        height: 50vh;
        width: 100vw;
        object-fit: cover;
        filter: brightness(75%);
    }

    .slidesText{
      display: flex;
      align-content: center;
      justify-content: center;
      position: absolute;
      font-size: 30px;
      color: white;
      bottom: 100px;
      text-align: center;
    }

    .slideContainer{
      position: relative;
    }
}