.event-conteiner {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.imageAccomodation {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  filter: brightness(80%);
}

.imagesEvents {
  width: 1px;
  height: 1px;
}

.CardEvent {
  width: 80%;
  margin-bottom: 40px !important;
}

.imgEventOk {
  width: 1000px;
  height: 450px;
  position: relative;
}

.formEvents {
  padding-right: 350px !important;
}

.scrollAdviceEvents{
  display: none;
}

.eventsContainerGlobal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle2{
  margin-top: 30px;
  font-size: 25px;
}

@media screen and (max-width:700px){
  .CardEvent{
    width: 100vw;
  }

  .scrollAdviceEvents{
    width: 100vw;
    display: contents;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    font-size: 16px;
  }
}




.formEvents1{
  margin-top: 100px !important;
  width:800px !important;
  height:900px !important;
  border: 2px !important;
  border-radius: 15px !important;
  display: flex !important;
  flex-direction: column !important;
  margin-bottom: 200px !important;
  margin-left: 25vw !important;
  background-color: #ffffff !important;
  padding-right:100px !important;
  padding-top: 50px !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.151);

}

.ImgEventsNavbar{
  width: 100vw;
  height: 300px;
   object-fit: cover;
  filter: brightness(70%);
}

.EventsFormNavbar1{
  position: absolute;
  font-size: 80px;
  font-weight: 500;
  color: white;
  margin-top:100px;
  width: 100vw;
  text-align: center;
}

.buttonSubmitEvents{
  display: flex !important;
  margin-left: 150px !important;

}




// .descriptionBackground1{
  
//   background-image: linear-gradient(
//       to bottom,
//       rgba(255, 255, 255, 0.808),
//       rgba(255, 255, 255, 0.781)
//     ),
//     url("./img/b23.jpg") !important;
// }

@media screen and (max-width:1200px){
  .formEvents1{
    margin-left: 15vw !important;
  }
}

@media screen and (max-width:1000px){
  .formEvents1{
    margin-left: 10vw !important;
  }
}


@media screen and (max-width:910px){
  .formEvents1{
    margin-left: 7vw !important;
  }
}

@media screen and (max-width:875px){
  .formEvents1{
    margin-left: 7vw !important;
  }

  .EventsFormNavbar1{
    position: absolute;
    font-size: 80px;
    font-weight: 500;
    color: white;
    margin-top:100px;
    width: 60vw !important;
    text-align: center;
  }
}