.event-conteiner {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.descriptionBackground {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.863),
      #f0f2f5
    ),
    url("../accomodations/images/palmTree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.imageAccomodation {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  filter: brightness(80%);
}

.imagesEvents {
  width: 1px;
  height: 1px;
}

.CardEvent {
  margin-left: 135px !important;
  margin-bottom: 40px !important;
}

.imgEventOk {
  width: 1000px;
  height: 450px;
  position: relative;
}
