.event-conteiner {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.descriptionBackground {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.863),
      #f0f2f5
    ),
    url("../accomodations/images/palmTree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.imageAccomodation {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  filter: brightness(80%);
}

.imagesEvents {
  width: 1px;
  height: 1px;
}

.CardEvent {
  width: 80%;
  margin-bottom: 40px !important;
}

.imgEventOk {
  width: 1000px;
  height: 450px;
  position: relative;
}

.formEvents {
  padding-right: 350px !important;
}

.scrollAdviceEvents{
  display: none;
}

.eventsContainerGlobal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:700px){
  .CardEvent{
    width: 100vw;
  }

  .scrollAdviceEvents{
    width: 100vw;
    display: contents;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    font-size: 16px;
  }
}