.categoriesContainer {
  margin-bottom: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categories_options {
 margin-left: 250px;
 margin-right: 100px;
  display: flex;
  justify-content: space-between;
}
.categoryContainer {
  width: 44%;
  margin-top: 40px;
}
.categorySider {
  display: flex;
  margin-bottom: 6px;
  background-color: #b88b61 !important;
  color: white;
  position: relative;
}
.categoryH3 {
  padding: 10px 15px;
  font-size: 20px;
  color: white;
}
.categoryP {
  padding-left: 10px;
  padding-right: 10px;
}
.categoryButtons {
  display: flex;
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-left: 5%;
}
.categoryReserveButton {
  margin: auto;
}
.categoryMoreInfoButton {
  color: black;
  margin-left: 5%;
  &:hover{
    color: white
  }
}
