//Categories


.categoryContainer{
  display: flex;
  flex-direction: column;
}

.categories_options {
  display: flex;
  justify-content: space-around;
}


//Category

.newGlobalCategory{
   display: flex !important;
   justify-content: center !important;
} 

.newCategory_Container{
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-areas: 
  "image description";
  margin: 30px;
}

.newImageCategory{
  grid-area: image;
  width: 55vw;
  height: 60vh;
  object-fit: cover;
}

.newDescription{
  grid-area: description;
  background-color: #332926;
  width: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3vh;
}

.newDescriptionCategory{
color: white;
font-size: 40px;
font-weight: 500;  
text-align: center;
}

.newDescriptionText{
  color: white;
  font-size: 20px;
  margin-top: 25px;
  font-weight: 200;
}

.containerCategory1{
height: 47vh;
}

.containerCategory2{
  height: 10vh;
  display: flex;
  justify-content: flex-start;
}

.ant-back-top{
  right: 15px !important;
}

.buttonContainerCategory1{
  color: rgb(0, 0, 0) !important;
  font-size: 19px !important;
  margin-left: 10px;
  background-color: white !important;
  border: 1px solid white !important;
  border-radius: 5px !important;
}

.buttonContainerCategory1:hover{
  background-color: #332926 !important;
  color: rgb(255, 255, 255) !important;
}


.buttonContainerCategory2{
  color: white !important;
  font-size: 19px !important;
  margin-left: 10px;
}

.buttonContainerCategory2:hover{
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}


@media only screen and (max-width: 1100px) {

  .newCategory_Container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 420px;
    grid-template-areas: 
    "image" 
    "description";
    margin: 30px;
  }

  .newImageCategory{
    grid-area: image;
    width: 90vw;
    height: 40vh;
    object-fit: cover;
  }

  .newDescription{
    grid-area: description;
    background-color: #332926;
    width: 90vw;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
  }

  .containerCategory1{
    height: 300px;
    }
    
    .containerCategory2{
      height: 100px;
      display: flex;
      justify-content: flex-start;
    }
    

}

@media only screen and (max-width: 767px) {

  .newCategory_Container{
    grid-template-rows: 35vh 530px;
    margin-top: 20px;
  }

  .newImageCategory{
    width: 95vw;
    height: 35vh;
    object-fit: cover;
  }

  .newDescription{
    background-color: #332926;
    width: 95vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

  .containerCategory1{
    height: 410px;
    }
    
    .containerCategory2{
      height: 100px;
      display: flex;
      justify-content: flex-start;
    }


}

@media only screen and (max-width: 360px) {


  .newCategory_Container{
    grid-template-rows: 30vh 85vh;
    margin-top: 20px;
  }

  .newImageCategory{
    width: 95vw;
    height: 30vh;
    object-fit: cover;
  }

  .newDescription{
    background-color: #332926;
    width: 95vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3vh;
  }

  .containerCategory1{
    height: 440px;
    }
    
    .containerCategory2{
      height: 15vh;
      display: flex;
      justify-content: flex-start;
    }


}