@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.LandingPage{
    background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0.116), rgba(0, 0, 0, 0.637)), url('./bg3.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;      
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}



.landingTitle{
    color: white !important;
    font-size: 85px !important;
    margin-left: 0px;
    text-shadow: 1px 1px 10px rgba(44, 44, 44, 0.37);

    @media screen and (max-width:767px){
    
        color:white;   
        font-size: 38px !important;
        display: flex !important;
        margin-top:30px !important ;
        margin-left: 50px !important;
        width: 300px;


        }

        @media screen and (min-width:768px){
            margin-top: 300px !important;
            margin-left: 40px !important;

        }
       
}

.landingText{
   color: rgba(255, 255, 255, 0.733) !important;
   font-size: 18px !important;
   text-align: center;
   text-shadow: 1px 1px 10px rgba(44, 44, 44, 0.37);


   @media screen and (max-width:767px){
    color: rgba(255, 255, 255, 0.733) !important;   
    font-size: 12px !important;
    text-shadow: 1px 1px 10px rgba(44, 44, 44, 0.37);
    display: flex !important;
    margin-left: 40px !important;
    width: 300px;

    }
    @media screen and (min-width:768px){
        width: 400px !important;  
        display: flex;
        margin-left: 10px;

    }

    @media screen and (min-width:1280px){
        width: 400px !important;  
        display: flex !important;
        margin-left: 100px !important;

    }
}

.lanButton{
    margin-top: 40px;
    border: 0 !important;
    background-color: #5296A5 !important;

    @media screen and (max-width:767px){
        display: flex !important;
        margin-top: 450px !important;  
        margin-left: 150px !important;
        
}

@media screen and (min-width:768px){
    display: flex !important;
    margin-left: 150px !important;
   

 }

 @media screen and (min-width:1280px){
    display: flex !important;
    margin-left: 250px !important;
   

 }
}
.lanButton:hover{
    background-color: #82DDF0 !important;
    border: 0 !important;
}

//Righ Column

.lanForm{
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 490px;
 width: 390px;
 border-radius: 15px;
 background-color: rgba(255, 255, 255, 0.925);
 text-align: center;
 padding-top: 10px;
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.253);
 margin-left: 100px;
 display: flex;
 padding-top: 5%;

 @media screen and (max-width:768px){
    display: flex !important;
    height: 420px !important;
    width: 320px !important;
      margin-left: -320px;
     margin-top: 160px;
 
   }
 
   @media screen and (min-width:768px){
     display: flex !important;
     justify-content: center !important;
     align-items: center !important;
      margin-top: 290px !important;
      margin-left: -250px !important;
    margin-right: 20px !important;
    width: 330px !important;
 
 }
 @media screen and (min-width:1280px){
     display: flex !important;
     align-items: center !important;
     height: 550px !important;
     margin-left: 80px !important;
      margin-right: -90px !important;
 
       
 
   }



}

