.laclande{
    background-color: #2D9D6A !important;
}
.boldFont{
    font-weight: bold !important;
}
.laclande1{
    display: flex !important;
    flex-direction: column !important;    
    background-color: #2D9D6A !important;
    align-content: space-between !important;   
}

