@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.laclande {
  // background-color: #072A40 !important;
  background-color: #5296a5 !important;
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 3vh !important;
  padding-bottom: 3vh !important;
  // font-family: "Merriweather", serif;
  color: white !important;
  bottom: 0;

  
}

.info {
  color: white !important;
  font-size: 15px !important;
  @media screen and (max-width:767px){
    display:flex !important;
    margin-right: 40px !important;
    margin-left: -50px !important;
 
   }
   @media screen and (min-width:768px){
    display:flex !important;
    margin-right: 40px !important;
    margin-left: -35px !important;
 
   }
}
