.backgroundPage{
    display:flex !important;
   margin-top:20px !important;
   margin-left:180px !important;   
   width:560px;
   margin-bottom: 20px !important;
}

.ant-picker-panel-container {
    display:flex !important;
    margin-top: 0px;
}

.ant-space-item{
    width: 0px;
    height: 0px;
}

.fuckBtn {
   margin-top: 400px;
  margin-left: 400px;
}

p{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 80px;
    margin-left: 80px;
}

