.myProfileContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "user userBalance"
    "user userBooking";

    padding-bottom: 150px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-inline: 10px;
    background-color: white;
    width: 1000px;
    height: 550px;
    padding: 60px;
    padding-inline: 80px;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.226);
    z-index: 2;
}

.myProfileTitles{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 27px;
}

.myProfileSubTitles{
    font-weight: 600;
    display: flex;
    margin-right: 14px;
    color: rgb(0, 0, 0);
}

.myProfileRow{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: rgb(102, 102, 102)
}

//DIV INFO
.myProfileDiv1{
    grid-area: user;
    padding-left: 50px;
    border-right: 1px solid rgb(226, 226, 226);
}

.myProfileInfo{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    padding-bottom: 40px;
}

//DIV BALANCE
.myProfileDiv2{
    grid-area: userBalance;
    padding-left: 90px;
}

.myProfileText{
    color: grey;
    margin-top: 10px;
}

//DIV BOOKING
.myProfileDiv3{
    grid-area: userBooking;
    padding-left: 90px;
}

 @media only screen and (max-width: 1000px) {

    .myProfileContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.4fr 0.4fr;
        grid-template-areas: 
        "user"
        "userBalance"
        "userBooking";
    
        border-radius: 4px;
        margin-top: 200px;
        margin-bottom: 50px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: white;
        width: 70vw;
        height: auto;
        padding: 60px;
        padding-left: 4vw;
        padding-right: 4vw;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.096);
    }

    .myProfileDiv1{
        grid-area: user;
        padding-left: 50px;
        border-right: 0;
        margin-left: 5px;
    }
    
    .myProfileDiv2{
        grid-area: userBalance;
        padding-left: 50px;
        border-top: 1px solid rgb(212, 212, 212);
        padding-top: 18px;
        margin-left: 5px;
    }

    .myProfileDiv3{
        grid-area: userBooking;
        padding-left: 50px;
        border-top: 1px solid rgb(212, 212, 212);
        padding-top: 18px;
        margin-left: 5px;
    }

}

@media only screen and (max-width: 667px) {


    .myProfileContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.4fr 0.4fr;
        grid-template-areas: 
        "user"
        "userBalance"
        "userBooking";
    
        border-radius: 4px;
        margin-top: 150px;
        margin-bottom: 50px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: white;
        width: 95vw;
        height: auto;
        padding: 60px;
        padding-left: 0vw;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.096);
    }

    .myProfileDiv1{
        grid-area: user;
        border-right: 0;
        margin-left: 5px;
    }
    
    .myProfileDiv2{
        grid-area: userBalance;
        border-top: 1px solid rgb(212, 212, 212);
        padding-top: 18px;
        margin-left: 5px;
    }

    .myProfileDiv3{
        grid-area: userBooking;
        border-top: 1px solid rgb(212, 212, 212);
        padding-top: 18px;
        margin-left: 5px;
        // padding-left: 50px;
    }
    
    .emailResponsive{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

}