.booking_Dividers {
  color: #8f8f8f !important;
  margin-top: 30px !important;
}
.room_Container {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
.details_Titles {
  font-weight: 600;
  margin-right: 5px;
}
.payment_DetailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
