.myBookingContainer{
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    width: 100vw;
    margin-bottom: 40px;
    min-height: 69vh;
    
}
.noCurrentBooking{
    font-size: 20px;
    color: rgba(128, 128, 128, 0.822);
    height: 60px;
}

.myBooking_State{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.userBookingEmpty{
    height: 81vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(63, 63, 63);
}

.myBooking_Past{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.myBookingsTitle{
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    color: white;
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: -160px;
    margin-left: 30vw;
    text-shadow: 1px 1px 15px black;
}

.imageBookingBg{
        width: 100vw;
        height: 300px;
        object-fit: cover;
        filter: brightness(40%);
}

@media screen and (max-width:980px){
    .myBookingsTitle{
        margin-left: 20vw;
      
    }
}


@media screen and (max-width:800px){
    .myBookingsTitle{
        margin-left: 15vw;
      
    }
}


@media screen and (max-width:740px){
    .myBookingsTitle{
        font-size: 60px;
        margin-left: 15vw;
      
    }
}

@media screen and (max-width:740px){
    .myBookingsTitle{
        font-size: 60px;
        margin-left: 15vw;
      
    }
}

@media screen and (max-width:740px){
    .myBookingsTitle{
        font-size: 60px;
        margin-left: 15vw;
      
    }
}

@media screen and (max-width:570px){
    .myBookingsTitle{
        font-size: 50px;
        margin-left: 8vw;
      
    }
}