.myBookingContainer{
    display: inline-block;
    margin-top: 130px;
    text-align: center;
    width: 100vw;
    margin-bottom: 40px;
}

.myBooking_State{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}