.form{
    margin: 20px 200px 0px 0px;

}

.paxForm_input{
    width: 100% !important;
}


.paxForm_TitleGuest{
    margin-left: 30%;
}


//----
.paxForm_container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.backButtonPayment{
    position: absolute !important;
    left: 20px;
    top: 180px;

}

.paxForm_input{
    width: 550px !important;
}


//form search
.formBookingSearch{
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.055);
}

.searchPaymentText{
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(82, 82, 82);
    font-weight: 500;
  
}


//-------------

.formBookingPayment{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.089);
}




//---
.ant-cascader-menu{
    width: 550px !important;
    text-align: center !important;
    height: 100px !important;
}

