.prueba1243{
    position: absolute ;
    right: 0;
    top: 185px;
    z-index: 50;
}

.ant-collapse-header{
    color: white !important;
    height: 40px !important;
}

.ant-collapse-item{
    border: none !important;
}

.ant-collapse.ant-collapse-icon-position-left{
    border: none !important;
    display: flex;
    flex-direction: column;
}

.bookingPaymentContainer{
  font-weight: 340;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.089);
  font-size: 20px;
//   max-width: 1900px !important;
}
