.prueba1243{
    position: absolute ;
    right: 0;
    top: 185px;
    z-index: 50;
}

.ant-collapse-header{
    color: white !important;
    height: 40px !important;
}

.ant-collapse-item{
    border: none !important;
}

.ant-collapse.ant-collapse-icon-position-left{
    border: none !important;

}