.reviews_title{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 30px;

}

.reviews_comment{
    display: flex;
   
    
    border:1px solid gray;
    margin: 2px;
    border-radius: 10px;
    padding: 15px;
    
}

.reviews_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px;
}


