.FormReset {
  width: 650px;
  margin: auto;
  margin-top: 15vh;
  text-align: center;
  background-color:white;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.062);
  padding-inline: 80px;
}

.resetTitle {
  font-size: 33px !important;
}

.captcha2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.resetLayout {
  height: 100vh;
}

.resetTitle{
    font-size: 40px;
}

.captcha2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.resetLayout{
    height: 100vh;
}

.sendPassword{
  margin-top: 20px;
  margin-inline: 10px;
  width: 140px;
}