
.ant-badge-count{
    right: 20px !important;
    top: 6px !important;
    border: none !important;

    min-width: 5px !important;
    height: 11px !important;
    font-size: 10px !important;

}

.bellNavBarI{
    margin-right: 20px;
}

.iconNotifi{
  font-size: 21px !important;
}

.ant-scroll-number-only{
    display: none !important;
}

.activeNotifi{
    color: rgb(0, 0, 0) !important;
    font-size: 18px !important;
    margin-right: 10px;
}

.inactiveNotifi{
    color: #ffff !important;
    font-size: 18px !important;
    margin-right: 10px;
}

@media only screen and (min-width: 701px)  and (max-width: 1000px) {
    .bellNavBarI{
        margin-right: 0px;
    }

    .activeNotifi{
        margin-right: 0;
    }
    
    .inactiveNotifi{
        margin-right: 0;
    }
}


@media screen and (max-width:700px){
    .bellNavBarI{
        margin-right: 0;
    }


.activeNotifi{
    color: rgb(0, 0, 0) !important;
    font-size: 18px !important;
    margin-right: 0;
    width: 17px !important;
}

.inactiveNotifi{
    color: #ffff !important;
    font-size: 18px !important;
    margin-right: 0;
    width: 17px !important;
}
}

