@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.details_Container{
    margin-top: 100px ;
    width: 80%;
    margin: auto;
}

.details-conteiner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.details_left{
    display: flex;
    flex-direction: column;
}
.details_main{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;

}

.header-slider {
    margin-top: 130px;
    height: 25%;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.title-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-description {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
#description {
    text-align: center;
}
.content-features {
    width: 100%;
    height: 100%;
    color: black;
    font-family: 'Merriweather', serif;
    padding: 10px 30px;
}

#features-section {
    padding: 25px;
    display: grid;
    grid-gap: 9px;
    grid-template-columns: 50% 50%;
    color:black;
    border: solid 1px rgb(180, 175, 175);
    border-radius: 10px;
    margin: 20px 0;
}

.aside-book {    
    height: 200px;
    width: 150px;
    color: black;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(180, 175, 175);
    border-radius: 10px;
   
}