@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


//clases nuevas

.Container{
  overflow-x: hidden !important;
}

.slidesDetailsImages{
    height: 600px;
    width: 100vw;
    object-fit: cover;
    filter: brightness(70%);
}
.categoryResponsiveDetails{
    position: absolute;
    font-size: 90px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-top: -220px;
    margin-left: 80px;
    color: white;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.596);
}

.categoryResponsiveAmenities{
    padding-top: 30px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}



.featuresText{
    font-size: 17px;
}

.categoryResponsiveDescription{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-left: 17vw;
    margin-right: 17vw;
    padding-top: 40px;
}

.numDetailCategory{
    width: 25px;
    height: 25px;
    color: white;
    background-color: #475691;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 10px;
}

.categoryDetailFeaturesGlobal{
    display: flex;
    justify-content: center;
}
.categoryDetailFeatures{
    margin-top: 30px;
    background-color: white;
    width: 1000px;
    display: grid;
    grid-template-columns: 415px 415px;
    column-gap: 50px;
    row-gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 70px;
    border-radius: 7px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.171);
}

.categoryDetailFeatures a{
margin-right: 30px;
}

.reviewsContainerGlobal{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    flex-direction: column;
    margin-top: 30px;
}

.reviewsContainer{
    margin-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: center;
}

.addReviewContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}



@media only screen and (max-width: 860px) {

    .categoryDetailFeatures{
        width: 600px;
        grid-template-columns: 415px;
        padding-left: 100px;
    }
}

@media only screen and (max-width: 620px) {

    .categoryDetailFeatures{
        width: 500px;
        grid-template-columns: 415px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 450px) {

    .categoryDetailFeatures{
        width: 400px;
        grid-template-columns: 415px;
        padding-left: 50px;
    }

   .featuresText{
       font-size: 12px;
   }
}

@media only screen and (max-width: 700px) {
    .categoryResponsiveDetails {
        font-size: 70px;
        width: 100vw;
        margin-left:0vw;
    }         
    
}

@media only screen and (max-width: 470px) {
    .categoryResponsiveDetails {
        font-size: 55px;
        width: 90vw;
        margin-left:4vw;
    }         
    
}


@media only screen and (max-width: 390px) {
    .categoryResponsiveDetails {
        font-size: 40px;
        width: 90vw;
        margin-left:4vw;
    }         
    
}