@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


//clases nuevas

.slidesDetailsImages{
    margin-top: 90px;
    height: 50vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(90%);
}
.categoryResponsiveDetails{
    padding-top: 30px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.featuresText{
    font-size: 17px;
}

.categoryResponsiveDescription{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 30px;
}

.numDetailCategory{
    width: 25px;
    height: 25px;
    color: white;
    background-color: #5296a5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 10px;
}

.categoryDetailFeaturesGlobal{
    display: flex;
    justify-content: center;
}
.categoryDetailFeatures{
    margin-top: 30px;
    background-color: white;
    width: 1000px;
    display: grid;
    grid-template-columns: 415px 415px;
    column-gap: 50px;
    row-gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 70px;
    border-radius: 7px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.048);
}

.categoryDetailFeatures a{
margin-right: 30px;
}

.reviewsContainerGlobal{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    flex-direction: column;
    margin-top: 30px;
}

.reviewsContainer{
    margin-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: center;
}

.addReviewContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.categoryDetailsBackground{
        background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.938),
            #f0f2f5
          ),
          url("../../accomodations/images/palmTree.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}

@media only screen and (max-width: 860px) {

    .categoryDetailFeatures{
        width: 600px;
        grid-template-columns: 415px;
        padding-left: 100px;
    }
}

@media only screen and (max-width: 620px) {

    .categoryDetailFeatures{
        width: 500px;
        grid-template-columns: 415px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 450px) {

    .categoryDetailFeatures{
        width: 400px;
        grid-template-columns: 415px;
        padding-left: 50px;
    }

   .featuresText{
       font-size: 12px;
   }
}