 @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27");

.NavBarLayout{
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 90px;
  background: #5296a500 ;
  display: flex;
  justify-content: space-between;
  z-index: 900;

  background: linear-gradient(#00000059, #9198e500);
}

.NavBarLayoutActive{
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 90px;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.301) !important;
  display: flex;
  justify-content: space-between;
  z-index: 900;
  animation-name: nav;
  animation-duration: 0.3s;

  }
  @keyframes nav {
    0%   {background-color: #5296a500;}
    100% {background-color: #ffffff;}
  }

.ant-dropdown-menu{
  position: relative  !important;
}

.navTitleRes{
   display: none;
}

.navLoginButton {
  margin-bottom: 1.7px;
  margin-right: 18px;
}
.colContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.headerNav{
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.navLeft {
  width: 100%;
  display: flex;
  height: 100%;

  text-align: center;

  align-items: center !important;
  justify-content: flex-start !important;
  margin-left: 40px;
}

.imagen {
  height: 70px;
  margin-right: 20px;
}

.imagenActive {
  filter: brightness(0%);
  height: 70px;
  margin-right: 20px;
}

.navTitle {
  font-weight: initial;
  font-weight: 500;
  padding-top: 15px;
  font-family: "Montserrat", sans-serif !important;
  color: rgb(255, 255, 255);
  font-size: 27px;
}

.navTitle:hover {
  color: #c7c7c7 !important;
}

.navRight {
  width: 50vw;
  display: flex;
  height: 100%;
  // font-family: "Merriweather", serif;
  justify-content: flex-end !important;
  margin-right: 10vw !important;
  align-items: center;
  padding-right: 3vw;
  color: #ffff;
}

.btnNavbar {
  background-color: #019dce !important;
  color: rgb(255, 255, 255) !important;
  border: none !important;
}

.btnNavbar:hover {
  border: 1px solid rgb(192, 192, 192) !important;
  color: #c2c1c1;
  background-color: #377c8b !important;
}

.navButton {
  // background-color: #5296a5 !important;
  color: #ffff !important;
  font-size: 18px !important;
  margin-right: 10px;
}

.navButtonActive {
  color: rgb(0, 0, 0) !important;
  font-size: 18px !important;
  margin-right: 10px;
}

.navButton:hover {
  color: #c2c1c1 !important;
}

.loginWith {
  margin-left: 40%;
  margin-top: 35px;
  color: black !important;
}

.dividerNav{
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  background-color: #75757523 !important;
}

.btn-nav{
  box-shadow: 0 0px 0 rgba(0, 0, 0, 0) !important;
  font-size: 17px !important;
  font-weight: 400 !important;
}

.dropMenuNav{
  padding: 15px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}



.navBarMenu{
  display: contents;
}
.navResponsiveMenu{
  display: none;
}


.authenticationResponsive{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 700px) {

  .NavBarLayout{
    z-index: 900;
    display: grid;
    height: 75px !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". imagen1 menu" 
  }

  .navImageContainer{
    grid-area: imagen1;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .navButton {
    background-color: #2e323300 !important;
    color: rgb(0, 0, 0) !important;
    font-size: 18px !important;
    margin-right: 10px;
  }

    
  .imagen {
    height: 55px;
    margin-right: 0px;

  }

  .navDrawerContent{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .navDrawerContent a{
    margin-top: 1vh;
  }
  
  .navBarMenu{
    display: none;
  }

  .navResponsiveMenu{
    display: contents;

  }
  .navTitleRes{
    display: contents;
    color: white;
    font-size: 23px;
 }
  .headerNav{ 
    justify-content: flex-end;
  }

  .navButtonMenu {
    grid-area: menu;
    font-size: 18px !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px !important;
    margin-right: 10px;
  }
}


@media only screen and (min-width: 701px)  and (max-width: 1000px) {

  .NavBarLayout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
     padding-left: 25px;
    padding-right: 10px;
  }

  .navButton {
    background-color: #2e323300 !important;
    color: rgb(0, 0, 0) !important;
    font-size: 18px !important;
    margin-right: 10px;
  }

  .imagen {
    height: 65px;
    margin-right: 20px;
    text-align: center;
    // margin-left: 35vw;
  }

  .navDrawerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .navBarMenu{
    display: none;
  }
  .navResponsiveMenu{
    display: contents;
  }
  .navTitleRes{
    display: contents;
    color: white;
    font-size: 23px;
 }
  .headerNav{ 
    justify-content: flex-end;
  }
}