.laclande{
    height:90px !important;
    background-color: #2D9D6A !important
}

.header{
    display: flex !important;
    align-content: center !important;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.imagen{
    height:63% ;
    width: 10%;
    margin-top: 2%;
    margin-left: -11%;
}
