.pre_booking_title{
    display: flex;
    justify-content: center;
}

.pre_booking_confirm{
    display: flex;
    justify-content: center;
}

.ContainerBookingSuccess{
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.192);
    margin-top: 40px;
}

.bookingSuccessTitle{
    font-size: 40px;
    margin-left: 30px;
}

.bookingsuccessText{
    font-size: 16px;
}

.bookingSuccessDetails{
    font-size: 16px;
    margin-bottom: 30px;
}

@media screen and (max-width:730px){
    .bookingSuccessTitle{
        font-size: 30px;
        margin-left: 30px;
    }
    
    .bookingsuccessText{
        font-size: 13px;
    }
    
    .bookingSuccessDetails{
        font-size: 13px;
        margin-bottom: 30px;
    }

    .ContainerBookingSuccess{
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.192);
        margin-top: 40px;
    }

}